.tabs-container {
    background: #f5f6f7;
}


:deep(.t-tabs__nav) {
    min-height: 36px !important;
}

:deep(.t-tabs__btn) {
    border-left: none;
}

:deep(.t-tabs__nav-item.t-size-m) {
    height: 36px;
    line-height: 36px;
}

:deep(.t-tabs__btn.t-size-m) {
    height: 36px;
    line-height: 36px;
}

:deep(.t-button--variant-text) {
    padding: 0 8px;
}

:deep(.t-divider--vertical) {
    margin: 0 4px;
}



.t-tabs__nav--card.t-tabs__nav-item.t-is-active {
    .hide {
        display: block;
    }
}

.hide {
    display: none;
}