.option-row {
    margin-bottom: 16px;
}

.option-row:last-child {
    margin-bottom: 0;
}

.option-label {
    font-weight: 500;
}

.option-item {
    flex: 1;
}

.color-preview {
    width: 20px;
    height: 20px;
    border-radius: 2px;
}

.multi-color-option {
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    overflow: hidden;
}

.multi-color-segment {
    height: 100%;
}